:root {
  --primaryColor: #a306b6;
  --layoutPadding: 10px;
}

.globalNavbar {
  background-color: var(--primaryColor);
  padding: var(--layoutPadding);
}

.globalNavbar h2 {
  margin-bottom: 10px;
}

.globalNavbar ul {
  display: flex;
  gap: 10px;
}

.globalHeader {
  min-height: 250px;
  background-image: url(https://media.istockphoto.com/id/840781672/photo/beautiful-nature-norway-aerial-photography.jpg?s=612x612&w=0&k=20&c=dDzue4-TkX8dNufr1BVICWtvY5mLtNdcqwM2kpKitWM=);
  background-repeat: no-repeat;
  background-size: cover;
}

.globalHeader h2 {
  text-align: center;
  padding-top: 62.5px;
  font-size: 2rem;
}

.section {
  color: black;
  max-width: 65ch;
  margin: 1rem auto;
  padding: 0 15px;
}

.headSection h1 {
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 2rem;
}
.featuredSection h2 {
  color: black;
  margin-bottom: 16px;
}

.featuredSection ul {
  display: grid;
  gap: 10px 16px;
  grid-template-columns: 1fr 1fr;
}

.featuredSection ul li {
  background-color: white;
  padding: 1rem 5px;
  border-radius: 8px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.featuredSection ul li article h3 {
  font-weight: 600;
}
.globalFooter {
  background-color: var(--primaryColor);
  padding: var(--layoutPadding);
  color: white;
}
